.painel {
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    font-weight: bold;
    padding: 25px;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}
