@page "/exemplo7"

<PageTitle>Exemplo 07 - CSS</PageTitle>

<div class="container">
    <header class="container_header">Header</header>
    <aside class="container__menu">Menu</aside>
    <main class="container__main">Main</main>
    <section class="container__right">Right</section>
    <footer class="container__footer">Footer</footer>
</div>