@page "/grid_layout_02"

<PageTitle>Grid Layout 02 - CSS</PageTitle>

<div>
    <h1>Grid Layout - CSS</h1>
    <h2>Display Grid - Template Area</h2>
    <div class="container">
        <header class="container_header">Header</header>
        <aside class="container__menu">Menu</aside>
        <main class="container__main">Main</main>
        <section class="container__right">Right</section>
        <footer class="container__footer">Footer</footer>
    </div>
</div>