@page "/border"

<PageTitle>Bordas - CSS</PageTitle>

<h1>Border - CSS</h1>
<div>
    <h2>Border</h2>
    <p>
        A propriedade border (bordas) em CSS é utilizada para separar o conteúdo
        interno do elemento HTML da parte externa que o envolve. Esta
        propriedade é na verdade um conjunto de outras propriedades que definem,
        por exemplo, sua largura.
    </p>
</div>
<div class="div1">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta,
        delectus corrupti pariatur exercitationem ratione excepturi porro minus
        enim sit eveniet, quos, laborum error necessitatibus commodi id quam sed
        perferendis corporis.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos suscipit
        dolores ab voluptatem corrupti error accusantium enim sapiente facere,
        cupiditate necessitatibus nam recusandae tempora nihil quia blanditiis!
        Ducimus, ipsam quaerat!
    </p>
</div>
<div class="div2">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta,
        delectus corrupti pariatur exercitationem ratione excepturi porro minus
        enim sit eveniet, quos, laborum error necessitatibus commodi id quam sed
        perferendis corporis.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos suscipit
        dolores ab voluptatem corrupti error accusantium enim sapiente facere,
        cupiditate necessitatibus nam recusandae tempora nihil quia blanditiis!
        Ducimus, ipsam quaerat!
    </p>
</div>
<div class="div3">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta,
        delectus corrupti pariatur exercitationem ratione excepturi porro minus
        enim sit eveniet, quos, laborum error necessitatibus commodi id quam sed
        perferendis corporis.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos suscipit
        dolores ab voluptatem corrupti error accusantium enim sapiente facere,
        cupiditate necessitatibus nam recusandae tempora nihil quia blanditiis!
        Ducimus, ipsam quaerat!
    </p>
</div>
<div class="div4">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta,
        delectus corrupti pariatur exercitationem ratione excepturi porro minus
        enim sit eveniet, quos, laborum error necessitatibus commodi id quam sed
        perferendis corporis.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos suscipit
        dolores ab voluptatem corrupti error accusantium enim sapiente facere,
        cupiditate necessitatibus nam recusandae tempora nihil quia blanditiis!
        Ducimus, ipsam quaerat!
    </p>
</div>
<div class="div5">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta,
        delectus corrupti pariatur exercitationem ratione excepturi porro minus
        enim sit eveniet, quos, laborum error necessitatibus commodi id quam sed
        perferendis corporis.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos suscipit
        dolores ab voluptatem corrupti error accusantium enim sapiente facere,
        cupiditate necessitatibus nam recusandae tempora nihil quia blanditiis!
        Ducimus, ipsam quaerat!
    </p>
</div>
<div class="div6">Exemplo 1 - Radius</div>
<div class="div7">Exemplo 2 - Radius</div>
<div class="div8">Exemplo 3 - Radius</div>
<div class="div9">Exemplo 4 - Radius</div>