@page "/exemplo5"

<PageTitle>Exemplo 05 - CSS</PageTitle>

<h1>Exemplo 05 CSS - Float</h1>
<div>
    <h1>Float</h1>
    <p>
        A propriedade float permite que os elementos HTML possam ser
        posicionados lado a lado e a disposição dos elementos poderá ser da
        esquerda para a direita ou da direita para a esquerda.
    </p>
    <p>Abaixo vamos visualizar a aplicação desta propriedade.</p>
</div>
<div class="div1">
    <h2>Londres</h2>
    <p>
        Londres é a capital da Inglaterra, uma das cidades mais populosas da
        Europa.
    </p>
</div>
<div class="div2">
    <h2>Paris</h2>
    <p>Paris é a capital da França, cidade luz, cidade do mal cheiros.</p>
</div>
<div class="div3">
    <h2>New York</h2>
    <p>
        New York é a capital financeira do mundo. Cidade do dinheiro. Uma das
        maiores megalópoles do mundo.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque sed
        possimus ab quo tempore expedita, corporis, odio repellendus, officiis
        minus non laudantium? Praesentium magni vitae labore sapiente nam
        cupiditate vero?
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio
        minus quia minima temporibus fugit, dicta dolores laudantium architecto
        ea asperiores magnam voluptate vero quae, sequi natus vitae.
        Consequatur, beatae ab!
    </p>
</div>
<div class="div4">
    <h2>Brasília</h2>
    <p>
        Capital de todos os brasileiros. Cidade mais linda do Brasil. Cidade dos
        contrastantes.
    </p>
</div>