@page "/exemplo1"

<PageTitle>Exemplo 01 - HTML</PageTitle>

<h1>Exemplo 01 - HTML</h1>
<p>
    HTML é uma linguagem de marcação, uma tecnologia client-side que é
    executada do lado do servidor.
</p>
<p>Sua estrutura inclui necessariamente as tags html, head e body.</p>
<p>
    Neste exemplo estamos usando a tag p que permite ao navegador criar um
    parágrafo.
</p>