@page "/exemplo6"

<PageTitle>Exemplo 06 - CSS</PageTitle>

<div>
    <h1>Exemplo 06 - CSS</h1>
    <h2>Display Grid - Template Columns e Rows</h2>
    <div class="container">
        <header class="container__header">1</header>
        <main class="container__main">2</main>
        <aside class="container__aside">3</aside>
        <footer class="container__footer">4</footer>
    </div>
</div>