@page "/"

<PageTitle>Principal</PageTitle>

<h1>Projeto Blazor</h1>

<p>Nosso projeto consiste em uma Single Page Application, em que é possível acessar, de forma fácil alguns dos projetos feitos por nós em sala de aula.</p>
<p>Para acessá-los, basta selecionar um dos projetos que deseja visualizar no menu lateral, caso esteja usando em um computador. Para o caso de dispositivos móveis, basta abrir o menu no cabeçalho da página e selecionar o projeto desejado.</p>
